@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "";
}


<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/BookstoreMVC.styles.css" asp-append-version="true" />
<link href="toastr.css" rel="stylesheet" />
<script src="toastr.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
<script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">




@model BookstoreMVC.Models.LoginModel


<div class="mt-5">
    <h2 class="text-center">Login Form</h2>
    <div class="container ">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <form class="form-horizontal" asp-action="Login">
                    <div class="form-group mt-2 mb-2">
                        <label class="control-label">UserName:</label>
                        <input asp-for="Username" class="form-control " type="text" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <label class="control-label">Password:</label>
                        <input asp-for="Password" class="form-control " type="password"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group d-flex justify-content-center m-3">
                        <input type="submit" value="Login" class="btn btn-success" />
                    </div>
                      <div class="form-group mb-2 text-center">
                          <h6>New user?</h6>
                        <a href="/User/Register" class="btn btn-info">Signup here</a>
                      </div>
                    
                </form>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

@if (ViewBag.login is not null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script type="text/javascript">
        Swal.fire({
            text: "Enter valid credentials",
            icon: "error",
            showConfirmButton: false,
            timer: 1500
    });
    </script>
}


@* 
 @if (ViewBag.regSuccess is not null)
 {
     <script src="~/lib/jquery/dist/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
     <script type="text/javascript">
         Swal.fire({
             text: "Registered successfully",
             icon: "success",
             showConfirmButton: false,
             timer: 1500
         });
     </script>
 } *@
