
@{
    
    Layout = "";
}
<div class="text-center">
    <h6>You are not allowed to view this page</h6>
</div>
<div class=" d-flex justify-content-center">
    <a href="/Book/Index" class="btn btn-secondary">Back</a>
</div>
